In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_parquet('../../DVF/original/2023.parquet')
df_clean=pd.read_parquet('../../DVF/clean_data/2023_cleaned.parquet')

In [3]:
df

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2023-1,2023-01-05,1,Vente,1070000.0,184.0,None,ALL DES HETRES,0124,1630.0,...,Dépendance,NaN,0.0,None,None,None,None,NaN,6.019949,46.247458
1,2023-1,2023-01-05,1,Vente,1070000.0,159.0,None,ALL DES HETRES,0124,1630.0,...,Dépendance,NaN,0.0,None,None,None,None,NaN,6.020204,46.247228
2,2023-1,2023-01-05,1,Vente,1070000.0,159.0,None,ALL DES HETRES,0124,1630.0,...,Appartement,233.0,8.0,None,None,None,None,NaN,6.020204,46.247228
3,2023-2,2023-01-03,1,Vente,152200.0,2914.0,None,RTE DE PONCIN,0107,1450.0,...,Maison,64.0,3.0,S,sols,None,None,988.0,5.438273,46.129859
4,2023-3,2023-01-05,1,Vente,269000.0,427.0,T,CHE DE L'AUBEPIN,0040,1800.0,...,Maison,73.0,3.0,S,sols,None,None,835.0,5.225844,45.853513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3727000,2023-1334365,2023-10-05,1,Adjudication,3931000.0,39.0,None,AV CHARLES FLOQUET,1832,75007.0,...,Dépendance,NaN,0.0,None,None,None,None,NaN,2.299560,48.853229
3727001,2023-1334365,2023-10-05,1,Adjudication,3931000.0,39.0,None,AV CHARLES FLOQUET,1832,75007.0,...,Dépendance,NaN,0.0,None,None,None,None,NaN,2.299560,48.853229
3727002,2023-1334365,2023-10-05,1,Adjudication,3931000.0,39.0,None,AV CHARLES FLOQUET,1832,75007.0,...,Dépendance,NaN,0.0,None,None,None,None,NaN,2.299560,48.853229
3727003,2023-1334366,2023-12-28,1,Vente,98250.0,66.0,B,RUE SEBASTIEN MERCIER,8892,75015.0,...,Dépendance,NaN,0.0,None,None,None,None,NaN,2.280893,48.843264
3727004,2023-1334366,2023-12-28,1,Vente,98250.0,66.0,B,RUE SEBASTIEN MERCIER,8892,75015.0,...,Appartement,18.0,1.0,None,None,None,None,NaN,2.280893,48.843264

In [5]:
df_clean

,jour_mutation,mois_mutation,annee_mutation,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,surface_terrain_appartements,nombre_dependances,surface_carrez_dependances,surface_reelle_bati_dependances,surface_terrain_dependances,nombre_pieces_principales,nature_culture,nature_culture_speciale,longitude,latitude
id_mutation,,,,,,,,,,,,,,,,,,,,,
2023-1,5,1,2023,Vente,1070000.0,159,<EMPTY>,ALL DES HETRES,0124,1630,...,0.0,2,0.0,0.0,0.0,8,<EMPTY>,<EMPTY>,6.020204,46.247228
2023-10,4,1,2023,Vente,8500.0,0,<EMPTY>,PETIT SIMANDRE,B122,1250,...,0.0,1,0.0,0.0,159.0,0,sols,<EMPTY>,5.419039,46.223797
2023-100,14,1,2023,Vente,206500.0,294,<EMPTY>,RTE DE MONTREVEL,0022,1340,...,0.0,2,0.0,0.0,2308.0,5,sols,<EMPTY>,5.155628,46.294436
2023-1000,3,2,2023,Vente,50.0,0,<EMPTY>,LES REDELLES,B100,1700,...,0.0,1,0.0,0.0,1.0,0,sols,<EMPTY>,4.995167,45.835287
2023-10000,6,9,2023,Echange,276.0,0,<EMPTY>,LE GRAND CLOS,B022,1300,...,0.0,4,0.0,0.0,5468.0,0,landes,Pâture plantée,5.612150,45.658379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-999995,10,2,2023,Vente,285000.0,7,<EMPTY>,RUE DE LA CHAUSSEE,0032,77720,...,0.0,1,0.0,0.0,500.0,5,sols,<EMPTY>,2.910750,48.619390
2023-999996,3,2,2023,Vente,194000.0,5,<EMPTY>,RUE DE LA VALLEE,0457,77710,...,0.0,0,0.0,0.0,0.0,10,jardins,Jardin potager,2.873566,48.222981
2023-999997,28,1,2023,Vente,120000.0,1,<EMPTY>,ALL DES GATINES,0341,77167,...,0.0,1,0.0,0.0,0.0,4,<EMPTY>,<EMPTY>,2.684828,48.233098
2023-999998,3,2,2023,Vente,1000.0,0,<EMPTY>,LORGE ET NOIX,B040,77130,...,0.0,1,0.0,0.0,135.0,0,vergers,Verger exploite en hautes tiges,2.903451,48.341938
2023-999999,7,2,2023,Vente,163000.0,31,B,RUE GRANDE,0380,77670,...,168.0,2,0.0,0.0,168.0,6,sols,<EMPTY>,2.808916,48.388446